* {
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  font-weight: thick;

}

.h3 {
  position: absolute;
  top: 1px;
  right: 5px;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; border-spacing: 20px;
  list-style-type: none;
  width: 100vw;
  background-color: lightcoral;
  font-weight: 800;
}

.navBar a {
  text-decoration: none;

}

.main  {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  border-color: black;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.footer ul {
  justify-content: space-evenly;
  display: flex;
  flex: wrap;
  background-color: lightcoral;
  width: 1000vw;
  height: 300;
  list-style-type: none;
  border-bottom: cadetblue;
}

.footer {
  background-color: lightcoral;
}

@media only screen and (max-width: 600px) {
  body 
  { background-color: lightblue;     }
  
   }